<a href="https://colab.research.google.com/github/ryaustin/hanukkah_of_data/blob/noahs-rug/Hanukkah_of_Data_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ•Ž [Hanukkah of Data](https://hanukkah.bluebird.sh/) Challenge 2023.

For some time, i've wanted a reason to play with pandas again. Let's use the python pandas library to work on this challenge.

# Setup
Install & Import Pandas.
Load the customers into a dataframe called customers

In [46]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [47]:
import pandas as pd

Originally, I intended to load the sqlite version of the data [here]((https://hanukkah.bluebird.sh/data). I kept getting errors loading the tabels using `df.read_sql...` so using json version of the data (which can be found on same page link above).

In [48]:
customers = pd.read_json('noahs-customers.jsonl', lines=True)
# file contains multiple json objects 'jsonl' format so lines=True
customers.head() # a quick peak at the data to know what we're working with.

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
0,1001,Jacqueline Alvarez,105N Elizabeth St,"Manhattan, NY 10013",1958-01-23,315-377-5031,America/New_York,40.718170,-73.997468
1,1002,Julie Howell,185-1 Linden St,"Brooklyn, NY 11221",1956-12-03,680-537-8725,America/New_York,40.694261,-73.921665
2,1003,Christopher Ali,174-28 Baisley Blvd,"Jamaica, NY 11434",2001-09-20,315-846-6054,America/New_York,40.689022,-73.773475
3,1004,Christopher Rodriguez,102 Mount Hope Pl,"Bronx, NY 10453",1959-07-10,516-275-2292,America/New_York,40.849389,-73.909157
4,1005,Jeffrey Wilkinson,17 St Marks Pl,"Manhattan, NY 10003",1988-09-08,838-830-6960,America/New_York,40.728045,-73.987117

# The Investigator - Solution 1

My solution is to map numbers 0-9 to Alphabet letters in a dict (I love dicts) and check for membership.

In [49]:
def match_string_with_phone_number(last_name, phone_number):
    # Mapping of letters to numbers on a phone keypad
    keypad = {
        '1': '1', '2': 'ABC', '3': 'DEF',
        '4': 'GHI', '5': 'JKL', '6': 'MNO',
        '7': 'PQRS', '8': 'TUV', '9': 'WXYZ',
        '0': '0'
    }

    # check each character
    for char, digit in zip(last_name.upper(), str(phone_number)):
      if char not in keypad[digit]:
            return False

    return True

Finally, we loop through the db row by row to obtain potential results. Now after receiving the first potential result, we can break the loop and assume it is the only result so adding a `break` after the print statement once we find a correct_name could result in better performance for this challenge.

In [50]:
%time
for row in customers.itertuples():
  last_name = row.name.split()[-1]
  phone_number=row.phone.replace("-","")
  correct_name = match_string_with_phone_number(last_name=last_name, phone_number=phone_number)
  if correct_name:
    print(f"The investigators name could be {last_name} with a phone number of: {row.phone}")
    break
%time

CPU times: user 4 Âµs, sys: 0 ns, total: 4 Âµs
Wall time: 7.87 Âµs
The investigators name could be Tannenbaum with a phone number of: 826-636-2286
CPU times: user 4 Âµs, sys: 0 ns, total: 4 Âµs
Wall time: 7.15 Âµs